<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>管理员审核课程</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" th:href="@{/css/all.css}">
    <link rel="stylesheet" th:href="@{/css/tableStyle.css}">
</head>
<body>
<div class="wrapper">
    <table class="content-table">
        <thead>
        <tr>
            <th>申请id</th>
            <th>教职工号</th>
            <th>课程号</th>
            <th>申请时间</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="info : ${teacherLessonVoIPage.getRecords()}">
            <td th:text="${info.getId()}"></td>
            <td th:text="${info.getTeacherId()}"></td>
            <td th:text="${info.getLessonId()}"></td>
            <td th:text="${info.getDate()}"></td>
            <td><a th:href="${'/admin/getLessonInfo/'+info.getLessonId()+'/'+info.getId()}" class="edit">详情</a></td>
        </tr>
        </tbody>
    </table>
    <div th:if="${teacherLessonVoIPage.getTotal() == 0}" class="info-empty">
        暂无信息
    </div>
    <div th:if="${teacherLessonVoIPage.getTotal() != 0}" class="pagination">
        <ul>
            <li>
                <!--   上一页  -->
                <a th:class="${teacherLessonVoIPage.getCurrent()==1}?'disable'" th:href="@{/admin/auditLesson(page=${teacherLessonVoIPage.getCurrent()}-1)}"><i class="fas fa-chevron-left"></i></a>
            </li>
            <li th:each="i : ${#numbers.sequence(1,teacherLessonVoIPage.getPages())}">
                <a th:href="@{/admin/auditLesson(page=${i})}" th:text="${i}" th:class="${i == teacherLessonVoIPage.getCurrent()}?'active'"></a>
            </li>
            <li>
                <!--   下一页  -->
                <a th:class="${teacherLessonVoIPage.getCurrent()==teacherLessonVoIPage.getPages()}?'disable'" th:href="@{/admin/auditLesson(page=${teacherLessonVoIPage.getCurrent()}+1)}"><i class="fas fa-chevron-right"></i></a>
            </li>
        </ul>
    </div>
</div>

</body>
</html>